<h1>Add a Spice</h1>

<form action="/spices/new" method="POST">
  <p>Name: <input type="text" name="spice[name]"></p>
  <p>Choose one of the following flavor profiles:</p>
  <% Flavor.all.each do |flavor|%>
    <input type="radio" name="spice[flavor_id]" value="<%= flavor.id%>">
    <%=flavor.name%></input>
  <%end%>
  <p>Choose a recipe from the drop down menu or add a new recipe</p>
  <select multiple size="1">
    <% @user.recipes.each do |recipe|%>
      <option><input type="checkbox" name="spices[recipe_ids][]" value="<%recipe.id%>"><%=recipe.name%></input></option>
    <%end%>
  </select>
  <p>New Recipe</p>
  <p>Name: <input type="text" name="recipe[name]"></p>
  <p>URL: <input type="text" name="recipe[url]"></p>
  <input type="submit" name="create" value="Add">
</form>
